<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.1.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.16.1" targetFramework="net461" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.6906.1200" targetFramework="net461" />
</packages>